// TODO
.container {
  a {
    display: flex;
    flex-direction: column;

    transition: color 0.2s;

    &:hover {
      color: #ff57b2;
    }

    h2 {
      font-size: 2.125rem;
    }

    p {
      margin: 0.5rem 0 1.563rem;
      font-size: 1.125rem;
      color: var(--gray-300);
    }

    div {
      &,
      span {
        display: flex;
        flex-direction: row;
      }

      span {
        color: var(--gray-400);
      }

      span + span {
        margin-left: 1.5rem;
      }

      span svg {
        margin-right: 0.5rem;
      }
    }
  }

  a + a {
    margin-top: 3rem;
  }
}
